#ignorar archivos auxiliares de LaTeX
*.synctex.gz
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls

# ignorar pruebas y ejemplos
ejemplo.*
main-test.*
text.*

#Ignorar todos los PDF excepto el final
*.pdf
!main.pdf
